.edit-post-container{
  background-color: rgb(114, 234, 114);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.edit{
  font-size: 20px;
}
.edit-form-container{
  background-color: aliceblue;
  display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px;
    width: 40%;
}
.label{
  font-size: 15px;
}
.back-icon{
  font-size: 18px;
  padding-top: 5px;
}

@media screen and (max-width:576px){
  .edit-post-container{
    background-color: rgb(114, 234, 114);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }
  .edit{
    font-size: 13px;
  }
  .edit-form-container{
    background-color: aliceblue;
    display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0.5px;
      width: 60%;
  }
  .label{
    font-size: 8px;
  }
  .back-icon{
    font-size: 10px;
    padding-top: 0px;
  }
}

@media screen and (min-width:992px) {
  .edit-post-container{
    background-color: rgb(114, 234, 114);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .edit{
    font-size: 28px;
  }
  .edit-form-container{
    background-color: aliceblue;
    display: flex;
      flex-direction: column;
      padding: 25px;
      border-radius: 14px;
      box-shadow: 0px 0px 5px 0.5px;
      width: 60%;
  }
  .label{
    font-size: 18px;
  }

}